body{
    background-image: url(1331117.png);
}
.box1{
    border: 6px solid white;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    position: absolute;
    top: 27.5%;
    left: 30.5%;
}
.field-1{
    color: white;
    font-size: 30px;
    text-align: justify;
}
.box2{
    border: 6px solid white;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    position: absolute;
    top: 27.5%;
    left: 55.5%;
}
.field-2{
    color: white;
    font-size: 30px;
    text-align: justify;
}
.box_alert{
    border: 6px solid red;
    background-color: red;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 35%;
}
.box_caution{
    border: 6px solid yellow;
    background-color: yellow;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 59%;
}
.box_safe{
    border: 6px solid green;
    background-color: green;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 50%;
    left : 47%;
}
.tulisan_suhu{
    color: white;
    font-size: 10px;
    position: absolute;
    top: 22%;
    left: 30.5%;
}
.tulisan_cahaya{
    color: white;
    font-size: 10px;
    position: absolute;
    top: 22%;
    left: 55.5%;
}
.tulisan_pesan{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 37%;
    left: 48.25%;
}
.field-3{
    position: absolute;
    left: 111%;
    bottom: 0%;
}
.tulisan_alert{
    color: white;
    position: absolute;
    top: 59%;
    left: 36.6%;
}
.field-5{
    position: absolute;
    left: 111%;
    bottom: 0%;
}
.tulisan_safe{
    color: white;
    position: absolute;
    top: 59%;
    left: 48.8%;
}
.field-4{
    position: absolute;
    left: 111%;
    bottom: 0%;
}
.tulisan_caution{
    color: white;
    position: absolute;
    top: 59%;
    left: 60.1%;
}
.bottom{
   border: 1px solid black;
   background-color: rgba(0,0,0,0.75);
   width: 100%;
   height: 7%;
   position: absolute;
   top: 93%;
   left: 0%;
}
.tulisan_bottom{
    color: white;
    position: absolute;
    top: 95%;
    left: 45.1%;
}
